*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
!/build/outputs/aar/payexpresse-sdk-debug.aar
!/build/outputs/aar/payexpresse-sdk-release.aar